<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="path/to/select2.min.css" rel="stylesheet" />
    <script src="path/to/select2.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" style="width: auto;">
                <div class="card-body row no-gutters align-items-center">
                    <!-- <select class="js-example-responsive-placeholder-single js-states form-control" name="state" size="width:auto">
                            <optgroup label="Estaci贸n">
                                <option value="AL">Belisario</option>
                                <option value="WY">UPS</option>
                                <option value="WY">Alameda</option>
                            </optgroup>
                            <optgroup label="Magnitud">
                                <option value="WY">Temperatura</option>
                                <option value="WY">Humedad</option>
                                <option value="WY">Precipitaci贸n</option>
                                <option value="WY">Nubosidad</option>
                            </optgroup>
                        </select> 
                        <script> 
                            $(document).ready(function () {
                                $(".js-example-responsive-placeholder-single").select2({
                                    placeholder: "Buscar...",
                                     

                                    allowClear: true
                                });
                            });
                        </script> -->
                    <select class="js-example-responsive" multiple="multiple" style="width: 90%">
                        <optgroup label="Estaci贸n">
                            <option value="AL">Belisario</option>
                            <option value="WY">UPS</option>
                            <option value="WY">Alameda</option>
                        </optgroup>
                        <optgroup label="Magnitud">
                            <option value="WY">Temperatura</option>
                            <option value="WY">Humedad</option>
                            <option value="WY">Precipitaci贸n</option>
                            <option value="WY">Nubosidad</option>
                        </optgroup>
                    </select>
                    <button type="submit" class="btn btn-primary">Ir</button>
                    <script>
                        $(document).ready(function () {
                            $('.js-example-responsive').select2({
                                placeholder: "Buscar..."                               
                                
                            });
                        });
                    </script>



                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>