<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositorio Metereológico</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="icon" href="/images/clima.png">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body >
    <nav class="navbar navbar-repo">
        <a class="navbar-brand" href="/">
          <img src="/images/clima.png" height="54" alt="repositorio">
          <h4> Repositorio Meteorológicnodeo</h3>
        </a>
        <form class="form-inline" style="justify-content: space-between;">
            <a href="/users/signin"  class="btn btn btn-outline-info my-2 my-sm-0" style="margin-right:5px;color: white;" type="submit">Iniciar sesión</a>
            <a href="/users/register" class="btn btn btn-outline-info my-2 my-sm-0" type="submit" style="color: white;">Registrarse</a>
          </form>
    </nav>
    {{{body}}}
    
    <nav class="navbar fixed-bottom navbar-light bg-light">
      
      <a class="navbar-brand" href="#">Desarrollado por estudiantes de la Universidad Politecnica Salesiana<img src="/images/footerimage.png" width="30px" style="margin-left: 5px;" alt="ups"></a>
      
    </nav>
    
</body>

</html>