<center>
    <h1>Historial</h1>
</center>
<div class="container-fluid" style="margin-top: 50px;">

    <div class="card card-carrera" id="remmaq" style="cursor: pointer;">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Descripción: Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
            </p>
            <p class="card-text">Origen.</p>
            <p class="card-text">Estación</p>
            <p class="card-text">Magnitud</p>
            <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
            <button class="btn-primary">CSV</button>
            <button class="btn-success">XLS</button>
            <button class="btn-secondary">Original</button>
        </div>

    </div>
    <div class="card card-carrera" id="remmaq" style="cursor: pointer;">
        <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Descripción: Subir archivos de la Red Metropolitana de Monitoreo Atmosférico de Quito.
            </p>
            <p class="card-text">Origen.</p>
            <p class="card-text">Estación</p>
            <p class="card-text">Magnitud</p>
            <p class="card-text">Mes/año de inicio - Mes/año de fin</p>
            <button class="btn-primary">CSV</button>
            <button class="btn-success">XLS</button>
            <button class="btn-secondary">Original</button>
        </div>

    </div>
    
    


</div>